doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body
        h2 Reestablecer Password
        p Hola, has solicitado restablecer tu password, has click en el siguiente enlace, este enlace en temporal.
        a(href=`${resetUrl}`) Ir a resetear tu password 
        p Si no puedes acceder a este password, visita #{resetUrl}
        p Si no solicitaste este e-mail puede ignorarlo